    
    <h3>Cadastro de Produtos</h3>
    <form action="/cadastrar" class="row g-3" method="POST">
        <hr>
        <label>Codigo Produto</label>
        <input type="text" class="form-control" name="codigo_prod">
        <label>Nome do Produto</label>
        <input type="text" class="form-control" name="nome_prod">
        <label>VALOR R$</label>
        <input type="number" class="form-control" name="valor_prod">
        <button type="submit" class="btn-success">Cadastrar Produto</button>
    </form>