<html>
    <%- include('layout/head.ejs') %>
<body>

<div class="container my-5">
<div class="row">

    <div class="col-sm-4">
        <%- include('layout/formulario.ejs') %>
    </div>

<div class="col-sm-4 ms-4">
    <img src="https://moveracessibilidade.com.br/wp-content/uploads/2017/10/icone-produtos.png" alt="">
</div>

</div>

</div>
</body>
</html>
